# Last modified by Kevin Cole <dc.loco@gmail.com> 2019.11.08 (kjc)
#
# 2017.02.17 KJC - moved whitespace settings to .gitattributes
# 2019.11.08 KJC - Replaced autocrlf with eol
# 2020.11.02 KJC - Aliases! Git has aliases!
#

[user]
	name = Kevin Cole
	email = dc.loco@gmail.com
	signingkey = 6CCB33973E696927
[gitreview]
	username = Ubuntourist
[credential]
	helper = cache
[core]
	excludesfile   = /home/kjcole/.gitignores
        attributesFile = /home/kjcole/.gitattributes
#	autocrlf = input
	eol = lf
[push]
	default = simple
[commit]
	gpgsign = true
[diff]
	tool = meld
[diff "exif"]
	textconv = exiftool
[color]
	ui = auto
[cola]
	spellcheck = false
[init]
	defaultBranch = main
[alias]
	history = log --reverse -p
	tracked = ls-tree --name-only -r HEAD
	deep    = log --reverse --full-diff -p
	df      = diff -b -w --ignore-blank-lines
